:root{
	--todo-width: 580px;
	--text-color: #999999;

}

*{
	box-sizing: border-box;
}

body{
	background-color: #f2fefff0;
}

.todo__title{
	max-width: var(--todo-width);
	margin: 100px auto 0;
	padding: 0 16px;
	font-family: 'Poiret One', cursive;
	font-size: 86px;
	color: var(--text-color);
}

.container{
	max-width: var(--todo-width);
	margin: 0 auto;
	background-color: white;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, .2);
}

.todo-item{
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #DDDDDD;
	line-height: 56px;
	padding: 6px 16px;
	display: flex;
	align-items: center;

}

.todo-item:last-child{
	border-bottom: none;
}


.todo__add-icon{
	color: var(--text-color);
	font-size: 20px;
}

.todo__add-icon:hover{
	cursor: default;
}

.todo__input{
	border: none;
	border-bottom: 1px solid #DDDDDD;
	width: 80%;
	height: 44px;
	color: var(--text-color);
	font-size: 16px;
	font-family: 'Heiti TC', 'Microsoft JhengHei' , sans-serif;
	margin: 0 10px;

}

.todo__input:focus{
	outline: none;

}

::placeholder{
	color: #DDDDDD;
	font-size: 20px;
	font-family: 'Heiti TC', 'Microsoft JhengHei' , sans-serif;
	padding-left: 6px;

}

.todo__add-btn{
	width: 72px;
	height: 32px;
	border-radius: 6px;
	background-color: #afb1b5;
	color: white;
	font-size: 20px;
	font-family: 'Poiret One', cursive;
	text-align: center;
	line-height: 32px;
	box-shadow: 2px 1px 1px rgba(0, 0, 0, .1);

}

.todo__add-btn:active{
	background-color: #d0d2d6;
	box-shadow: none;
}

.todo__completed-btn{
	width: 20px;
	height: 20px;
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
	line-height: 20px;
	font-size: 28px;
	color: var(--text-color);
}



.todo__content{
	width: calc( 100% - 40px );
	line-height: 44px;
	color: var(--text-color);
	font-size: 20px;
	font-family: 'Heiti TC', 'Microsoft JhengHei' , sans-serif;
	margin: 0 10px;
	//刪除線樣式設定
	text-decoration-style: solid;
	text-decoration-color: var(--text-color);
	//下面三行限制文字顯示長度，超過的部分顯示「...」
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.todo__content--completed{
	text-decoration-line: line-through;
}

.todo__del-btn{
	width: 20px;
	display: flex;
	align-items: center;
}

.todo__del-btn>img{
	width: 100%;
}

.todo__add-btn:hover,
.todo__completed-btn:hover,
.todo__del-btn:hover{
	cursor: pointer;
}

.unselectable{
	//讓模擬的假按鍵內容不被當文字選取
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
 	user-select: none;          /* Likely future */    
}