<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
  	<%- include('head', {title: '註冊', jsfile: 'reg'}) %>
  </head>
  <body>
    <div class="login-container container-fluid d-flex justify-content-center">
	  <div class="col-lg-5 col-md-7">
	  	<div class="title mt-5">註冊</div>
	  	<div class="cmmt-box bg-white p-5">
	      <div class="login__title">選擇您的使用者名稱：</div>
	      <input class="login__input" name="username" type="text" placeholder="帳號" />
	      <div class="login__title">建立密碼：</div>
	      <input class="login__input" name="password" type="password" placeholder="密碼" />
	      <div class="login__title">選擇您的暱稱：</div>
	      <input class="login__input" name="nickname" type="text" placeholder="暱稱" />
	      <div class="login__warning-toggle"></div>
	      <input class="cmmt__btn login__btn btn btn-primary" type="button" value="Sign Up" />
	      <div class="login__title login__title--centered"><a href="/login">已有帳號？ 請按此登入</a></div>
	    </div>
	  </div>
	</div>
  </body>
</html>	