:root {
	--container-width: 960px;
}

* {
	margin: 0;
	padding: 0;

}

.container {
	max-width: var( --container-width );
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-wrap: wrap;
	/*
	子元素超過container寬度，則換行。
	如果沒有設定此規則，container下所有子元素會擠在同一行，
	且子元素的width設定也會失效。
	*/
}

.container div {
	background-color: #e6f3ff;
	border: 1px solid #DADADA;
	box-sizing: border-box;
	height: 50px;
	text-align: center;
	line-height: 48px;
	font-family: sans-serif;
	color:#888888;
}

.col-1 {
	width: calc( 100% / 12 * 1);
}

.col-2 {
	width: calc( 100% / 12 * 2);
}

.col-3 {
	width: calc( 100% / 12 * 3);
}

.col-4 {
	width: calc( 100% / 12 * 4);
}

.col-5 {
	width: calc( 100% / 12 * 5);
}

.col-6 {
	width: calc( 100% / 12 * 6 );
}

.col-7 {
	width: calc( 100% / 12 * 7);
}

.col-8 {
	width: calc( 100% / 12 * 8);
}

.col-9 {
	width: calc( 100% / 12 * 9);
}

.col-10 {
	width: calc( 100% / 12 * 10 ) ;
}

.col-11 {
	width: calc( 100% / 12 * 11);
}

.col-12 {
	width: calc( 100% / 12 * 12);
}

@media only screen and ( max-width: 720px ) {

	[class*="col-"] {
		width: 100%;

	}

}
